---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  // font: 15px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  // max-width는 블로그 전체 폭을 의미
  //max-width: 740px;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

pre, code {
    background-color: #EFEFEF;
}
///////////////////////////// table관련 css 추가 (17/05/28) /////////////////////////////
// table{
//     border-collapse: collapse;
//     border-spacing: 0;
//     border:1px solid $gray;
//     font: $helvetica;
//     color: $darkGray;
// }

// th{
//     border:1px solid $gray;
// }

// td{
//     border:1px solid $gray;
// }

th {
    font-weight: bold;
}

th, td {
    padding: 10px; // 각 칸의 여백
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2}

///////////////////////////// table관련 css 추가 끝 /////////////////////////////

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// category페이지의 날짜 class
.post-date {
  font-size: 14px;
  color: #9A9A9A;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {

  // 내가 새로 추가한 부분 - post내의 폰트 크기 조정 (_layouts/post.html)
  // post아래에 class=entry가 post의 크기를 결정
  .entry {
    font-size: 17px; // 처음 생성시 15px였음
  }

  // > 로 시작하는 부분 폰트
  blockquote {
    // margin: set the size of the white space outside the border.
    //margin: 1.8em .8em; // 상하여백, 좌우여백
    margin: 0.5em .8em;

    border-left: 2px solid $gray;

    // padding: clears an area inside the border of an element.
    // padding -> 0.1em은 상하의 여백, 1em은 좌우 여백
    //padding: 0.1em 1em;
    padding: 0.00045em 1em;

    color: $gray;
    font-size: 17px; // 맨처음 22px -> 15px -> 17px
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}
// layout/post.html에 있는 next post, prev post
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
